<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', {title: 'Login'}) %>
  <body class="h-screen flex flex-col">
    <%- include('../partials/header.ejs') %>
    <main class="grow-1 md:content-center bg-linear-to-b from-violet-300 to-blue-200">
        <form class="mx-auto max-w-md md:mb-50 bg-white  md:border-2  border-purple-300 md:rounded-2xl md:shadow-lg shadow-violet-950 p-10" autocomplete="off" action="/account/login" method="post">
            <fieldset class="flex flex-col gap-10 relative">
                <section>
                    <h2 class="text-2xl text-pretty text-center font-bold m-0 p-0">Log in</h2>
                    <span class=" block text-sm text-gray-500 text-center">Log in to access your account</span>
                </section>

                <% if (locals.alerts) { %>
                    <% locals.alerts.forEach(alert => { %>
                        <%- include('../components/alert.ejs', {alert}) %>
                    <% }) %>
                <% } %>

                <label for="Email" class="relative flex border rounded border-gray-300 shadow-sm focus-within:border-violet-600  has-[.error:not(.invisible)]:border-red-500 has-valid:border-green-500 ">
                    <input
                        required
                        type="email"
                        id="Email"
                        placeholder="Enter email"
                        name="email"
                        minlength="8"
                        class="peer border-0 grow focus:ring-0 placeholder-transparent"
                    />
                    <span
                        class="absolute bg-white inset-y-2 start-3 -translate-y-5 px-0.5 text-sm font-medium text-gray-500 transition-transform peer-placeholder-shown:translate-y-0 peer-focus:-translate-y-5"
                    >
                        Email
                    </span>
                    <span class="flex items-center px-1 invisible peer-valid:visible">
                        <i class="fa fa-solid fa-check bg-green-500 text-white text-sm border p-1 rounded-full"></i>
                    </span>
                    <span class="h-[5ch] error absolute -bottom-[5ch] px-0.5 text-sm text-red-500 invisible peer-valid:invisible" aria-live="polite">
                    </span>
                </label>

                <label for="Password" class="relative flex border rounded border-gray-300 shadow-sm focus-within:border-violet-600  has-[.error:not(.invisible)]:border-red-500 has-valid:border-green-500 ">
                    <input
                        autocomplete="new-password"
                        required
                        type="password"
                        id="Password"
                        placeholder="Enter password"
                        name="password"
                        minlength="8"
                        class="peer border-0 grow focus:ring-0 placeholder-transparent"
                    />
                    <span
                        class="absolute bg-white inset-y-2 start-3 -translate-y-5 px-0.5 text-sm font-medium text-gray-500 transition-transform peer-placeholder-shown:translate-y-0 peer-focus:-translate-y-5"
                    >
                        Password
                    </span>
                    <span class="flex items-center px-1 invisible peer-valid:visible">
                        <i class="fa fa-solid fa-check bg-green-500 text-white text-sm border p-1 rounded-full"></i>
                    </span>
                    <span class=" h-[5ch] error absolute -bottom-[5ch] px-0.5 text-sm text-red-500 invisible peer-valid:invisible" aria-live="polite">
                </label>
                <button type="submit" class="bg-violet-400 font-bold text-white px-3 py-2 rounded-sm hover:bg-violet-600">Login</button>
            </fieldset>
        </form>
    </main>
    <script src="/js/show-form-validation-messages.js"></script>
  </body>
</html>