@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@theme {
  --font-roboto: 'Roboto';
}

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/Roboto-Regular.ttf') format('truetype');
  }
}
.error::before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 12px;
  background-image: url('/icons/red-alert.svg');
  background-size: 12px 12px;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: content-box;
  overflow: hidden;
  vertical-align: middle;
}
